.depoimentos {
	background-color:	var(--cor-fundo-transp);
	margin:				10vh auto;
	padding:			3em 5em;
	display:			flex;
	flex-direction:		column;
	align-items:		center;
}

.span-depoimentos {
	font-size:		14px;
	font-weight:	600;
	color:			var(--cor-destaque);
}

.desc-depoimentos {
	font-size:	36px;
	color:		var(--cor-titulo);
	margin:		1em 0;
	text-align:	center;
}

.nome-depoimentos {
	color: var(--cor-titulo);
}

.setor-depoimentos {
	font-size:		14px;
	font-weight:	400;
}

.nome-depoimentos, .setor-depoimentos {
	margin-top: 1em;
}