@media screen and (max-width: 450px){
    .botoes-navbar {
        visibility: hidden;
    }

    .menu-lateral {
        width: 75vw;
    }
    
    .menu-usuario {
        width: 100%;
        margin-bottom: 50px;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        align-content: center;
    }

    .usuario-item {
        padding: 3vh 10vw;
        text-align: center;
    }

    .usuario-cadastro {
        background-color: var(--cor-destaque);
    }

    .usuario-link {
        text-decoration: none;
        font-weight: 700;
        color: var(--cor-texto);
    }

    .usuario-cadastrar {
        color: var(--cor-fundo-navbar);
    }
}
